/* Styles for .btnblack */
.btngreen {
  width: 6.5em;
  height: 2.3em;
  margin: 0.5em;
  /* background: black;
  color: white; */
  background: rgb(0, 17, 255);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btngreen:hover {
  color:rgb(0, 170, 255);
}

.btngreen:after {
  content: '';
  background: rgb(0, 255, 174);
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.btngreen:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}